* {
    box-sizing: border-box;
}

.padTopBot {
    padding: 30px 0 100px 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

strong {
    font-weight: bold;
}

nav {
    margin-bottom: 0;
}

main {
    flex: 1 0 auto;
}

#welcome {
    background-image: url('https://images.pexels.com/photos/261577/pexels-photo-261577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    color: #fff;
    font-size: 1.2rem;
}

.card {
    padding: 5px;
}

.show-card {
    font-family: 'Roboto Condensed', sans-serif;
}

.footer-copyright {
    border-top: 0.5px white solid;
}

.text-card {
    height: 250px;
    word-wrap: break-word;
}

#delete-btn {
    display: inline;
}

.tb-padding {
    padding: 15px;
}

#editBtn {
    margin-left: 5px;
}

.welcome-text {
    padding-bottom: 10px;
}

.local-library {
    display: inline;
}

.fa-pencil {
    font-size: 17px;
}

#delete-comment-btn,
#editDelete {
    display: inline-block;
}

.card-panel {
    word-wrap: break-word;
}

.sidenav .user-view {
    margin-bottom: 0;
}

.sidenav .user-view .email {
    padding-bottom: 0;
    font-weight: 400;
}
.sidenav .alias-div {
    margin:0;
}
.alias {
    text-transform: uppercase;
}