<div id="welcome">
    <div class="container padTopBot">
        <h1>Welcome</h1>
        <p>Welcome to weStories v1.0.0<br>
            Post stories from anything under the Sun!<br>
            You can have post it publicly for the world<br>
            to see or privately as your personal Diary!</p>
        <a class="red darken-1 waves-effect waves-light btn" href="/auth/google"><i class="fa fa-google-plus"
                aria-hidden="true"></i> Login with google</a>
    </div>
</div>