<div id="welcome">
    <div class="container padTopBot">
        <div class="row">
            <div class="col s12 m8">
                <div class="card-panel teal">
                    <div class="card-title"><h3>Welcome!</h3></div>
                    <p class="white-text welcome-text">Welcome to weStories v1.0.0.
                        Post stories from anything under the Sun!
                        You can post it publicly for the world
                        to see or privately as your personal Diary!<br>
                        <p class="yellow-text">(Upon Login, Click the red plus button to Add Story!)</p>
                    </p>
                    
                    <div class="card-action">
                        <a class="red darken-1 waves-effect waves-light btn" href="/auth/google"><i
                                class="fa fa-google-plus" aria-hidden="true"></i> Login with google</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>